/* Variáveis */
:root {
    --bege-50: #FFF2DB;
    --bege-100: #FED690;
    --bege-150: #FFBD4A;
    --bege-200: #b3893F;
    --azul-50: #D4E8FF;
    --azul-100: #8EC5FE;
    --azul-150: #5282B3;
    --branco: #fff;
    --preto: 000;
    --shadow: #00000056;
}



/* Estilização em padrão para qualquer página desse Projeto */
* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;    /* Suavidade no link <a> para as seções do site */
    transition: scroll-behavior 5s ease-in-out; /* Transição mais Suave */
}




/* Estilização para página PRINCIPAL*/
#pag-home {
    background-color: var(--bege-100 );
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    align-items: center;
}


/* Cabeçalho */
#header {
    width: 100vw;
    height: auto;
    padding: 2rem;
    background-color: var(--bege-100);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0px 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--azul-150);
    font-weight: 700;
    text-transform: uppercase;
    transition: ease 0.2s;
}

nav a:hover {
    color: var(--azul-100);
    transition: ease 0.3s;
}

#li-logo {
    cursor: none;
}

#logo {
    width: 200px;
}

nav li:first-child{
    margin-right: auto;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: var(--bege-100);
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
}

.menu li {
    width: 100%;
}

.menu a {
    width: 100%;
}

.btn-abrir-menu{
    display: none;
}







/* Section Banner */
#banner-container {
    width: 100vw;
    height: auto; 
    margin-bottom: 50px;
}

#img-banner {
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
}



/* Section Sobre*/
#sobre-container {
    width: 80vw;
    background-color: var(--azul-150);
    overflow-y: hidden;
    display: flex;
    padding: 20px;
    border-radius: 20px;
    height: 440px;
    align-items: center;
    overflow-x: hidden;
}

.div-sobre {
    width: 33%;

}

#img-sobre {
    position: relative;
    z-index: 100;
    right: 100px;
    height: 100%;
}

#title-sobre {
    text-transform: uppercase;
    font-weight: 700;
    z-index: 1;
    color: var(--branco);
    font-size: 120px;
}

#sobre-h1 {
    color: var(--azul-100);
}

#sobre-p {
    color: var(--branco);
    text-align: justify;
}



/* Section Produtos */
#produtos-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 96%;
    height: auto;
}

#title-produtos {
    text-transform: uppercase;
    color: var(--bege-200);
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

#cards {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    cursor: pointer;
    padding: 30px;
    border-radius: 20px;
    height: 384px;
    width: 222px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: ease 1s;
}

.card:hover {
    transition: ease 1s;
    transform: scale(1.1);
    box-shadow: 0px 10px 40px var(--shadow);
}

.azul {
    background-color: var(--azul-150);
}

.bege {
    background-color: var(--bege-200);
}

.img-card {
    width: 50px;
}

.btn-azul {
    cursor: pointer;
    margin-top: 8px;
    background-color: var(--azul-100);
    border: none;
    padding: 15px;
    width: 160px;
    border-radius: 10px;
    transition: ease 0.5s;
}

.btn-azul:hover {
    transition: ease 0.5s;
    transform: scale(1.1);
}

.btn-bege {
    cursor: pointer;
    margin-top: 8px;
    background-color: var(--bege-100);
    border: none;
    padding: 15px;
    width: 160px;
    border-radius: 10px;
    transition: ease 0.5s;
}

.btn-bege:hover {
    transition: ease 0.5s;
    transform: scale(1.1);
}

.title-card {
    color: var(--branco);
    font-size: 22px;
}

.img-card {
    width: 110px;
}

.p-card {
    text-align: justify;
    color: var(--branco);
}

#btnLadoEsquerdo, #btnLadoDireito{
    display: none;
    border-radius: 50%;
    text-align: center;
    padding: 15px;
    border: 1px solid var(--azul-150);
    font-weight: 900;
    color: var(--azul-150);
    background-color: var(--azul-50);
}


/* Section Pets */
#pets-container {
    margin-top: 50px;
    width: 80vw;
    display: flex;
    gap: 15px;
    justify-content: center;
}

#pets-left {
    border-radius: 20px;
    height: auto;
    background-color: var(--bege-200);
    width: 50%;
    display: flex;
    overflow: hidden;
    align-items: center;
    padding-inline-end: 10px;
}

#text-cachorro {
    color: var(--bege-150)
}

#cachorrinho {
    color: var(--bege-100);
}

#pets-right {
    border-radius: 20px;
    overflow: hidden;
    height: auto;
    background-color: var(--azul-150);
    display: flex;
    width: 50%;
    overflow: hidden;
    align-items: center;
    padding-inline-end: 10px;
}

#text-gato {
    color: var(--azul-100);
}

#gatinho {
    color: var(--azul-50);
}

.img-pet {
    width: 50%;
    margin-top: 50px;
}

.organizar {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#informacoes-gato {
    border: none;
    padding: 20px;
    background-color: var(--azul-100);
    color: var(--azul-150);
    font-weight: 700;
    border-radius: 10px;
    transition: ease 1s;
}

#informacoes-gato:hover {
    box-shadow: 0px 10px 40px var(--shadow);
    transition: ease 1s;
    transform: scale(1.1);
    cursor: pointer;
}

#informacoes-cachorro {
    border-radius: 10px;
    border: none;
    padding: 20px;
    background-color: var(--bege-150);
    color: var(--bege-200);
    font-weight: 700;
    transition: ease 1s;
}

#informacoes-cachorro:hover {
    box-shadow: 0px 10px 40px var(--shadow);
    transition: ease 1s;
    transform: scale(1.1);
    cursor: pointer;
}


/* Modal Cachorro  */

#display-none-c{
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

#modal-cachorro {
    padding: 40px;
    height: 440px;
    width: 70%;
    background-color: var(--bege-50);
    border-radius: 20px;
    display: flex;
    gap: 30px;
    z-index: 100;
}

#organizar-modal-cachorro {
    overflow: hidden;
    border-radius: 20px;
    width: 50%;
    background-color: var(--bege-100);
    height: 100%;
    display: flex;
    justify-content: center;

}

#organizar-modal-cachorro-informacoes {
    width: 50%;
    display: flex;
    flex-direction: column;
    color: var(--bege-150);
    text-align: justify;
    justify-content: space-around;
}

#img-cachorro-modal {
    width: auto;
    height: 100%;
}

#title-modal-c {
    color: var(--bege-200);
    font-size: 30px;
    text-transform: uppercase;
}

#btn-fechar-cachorro {
    cursor: pointer;
    color: var(--bege-50);
    border-radius: 10px;
    background-color: var(--bege-200);
    border: none;
    width: 20%;
    padding: 10px;
}


/* Modal Gato  */

#display-none-g{
    width: 90%;
    display: none;
    justify-content: center;
}

#modal-gato {
    padding: 40px;
    height: 440px;
    width: 70%;
    background-color: var(--azul-100);
    border-radius: 20px;
    display: flex;
    gap: 30px;
    z-index: 100;
}

#organizar-modal-gato {
    overflow: hidden;
    border-radius: 20px;
    width: 50%;
    background-color: var(--azul-150);
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;

}

#organizar-modal-gato-informacoes {
    width: 50%;
    display: flex;
    flex-direction: column;
    color: var(--branco);
    text-align: justify;
    justify-content: space-around;
}

#img-gato-modal {
    width: auto;
    height: 100%;
}

#title-modal-g {
    color: var(--azul-150);
    font-size: 30px;
    text-transform: uppercase;
}

#btn-fechar-gato {
    cursor: pointer;
    color: var(--branco);
    border-radius: 10px;
    background-color: var(--azul-150);
    border: none;
    width: 20%;
    padding: 10px;
}


/* Contato */
#contato-container {
    padding: 30px;
    width: 55%;
    height: 100%;
    background-color: var(--azul-150);
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.campo-contato {
    display: flex;
    width: 100%;
}

#title-contato {
    font-size: 40px;
    text-transform: uppercase;
    color: var(--branco);
    text-align: center;
}

input {
    color: var(--branco);
    width: 100%;
    background-color: var(--azul-150);
    border: solid 1px var(--branco);
    border-radius: 10px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

input::placeholder{
    font-weight: 300;
    color: var(--branco);
}

#btn-enviar {
    padding: 15px;
    border: none;
    background-color: var(--azul-100);
    color: var(--branco);
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: 700;
    width: 30%;
    cursor: pointer;
    margin-top: 20px;
    transition: ease 0.5s;
}

#btn-enviar:hover {
    transform: scale(1.06);
    transition: ease 0.5s;
    background-color: var(--azul-50);
    color: var(--azul-150);
}


/* Footer */
#footer-container{
    margin-top: 50px;
    width: 100vw;
    height: 400px;
    background-color: var(--azul-50);
    display: flex;
    flex-direction: column;
}

#fim {
    gap: 15px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h5 {
    font-size: 14px;
    color: #5282B3;
}


/* RESPONSIVIDADE CORRIGINDO ERROS*/
@media only screen and (max-width:1500px) {
    /*SOBRE*/
    #img-sobre {
        height: 410px;
        top: 19px;
        left: -30%;
    }

}

@media only screen and (max-width:900px) {
    /*HEADER*/
    .ocultarNav {
        display: none;
    }

    .btn-abrir-menu{
        display: flex;
    }


    /*SOBRE*/
    #sobre-container {
        height: auto;
        flex-direction: column;
    }

    .div-sobre {
        width: 80%;
    }

    #img-sobre{ 
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        margin-bottom: 10px;
    }
    
    #title-sobre {
        font-size: 70px;
        text-align: center;
    }


    /*PETS*/
    #pets-left {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    #text-cachorro {
        text-align: center;
    }


    #pets-right {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    #text-gato {
        text-align: center;
    }

    .img-pet {
        margin-bottom: 15px;
        margin-top: 0;
    }
}

@media only screen and (max-width:700px){
    /*PETS & MODAL*/
    #modal-cachorro {
        width: 80%;
        height: auto;
        padding: 1rem;
        flex-direction: column;
    }

    #modal-gato {
        width: 80%;
        height: auto;
        padding: 1rem;
        flex-direction: column;
    }

    #organizar-modal-cachorro {
        width: 100%;
    }

    #organizar-modal-gato {
        width: 100%;
    }

    #organizar-modal-cachorro-informacoes {
        width: 100%;
    }

    #organizar-modal-gato-informacoes {
        width: 100%;
    }

    #title-modal-c {
        text-align: center;
    }

    #title-modal-g {
        text-align: center;
    }

    .afastar-ul {
        margin-left: 5px;
    }



    /* CONTATO */
    #btn-enviar {
        width: 89%;
    }

    #contato-container {
        width: 90%;
    }
}

@media only screen and (max-width:500px){
    /*SOBRE*/
    #title-sobre {
        font-size: 50px;
    }

    #img-sobre {
        display: none;
    }

    /*PRODUTOS*/
    #title-produtos {
        font-size: 30px;
    }
    /*PETS & MODAL*/
    #pets-container {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    #display-g{
        width: 100%;
    }

    #gato-modal {
        width: 90%;
    }

    #pets-right {
        width: 100%;
    }

    #pets-left {
        width: 100%;
    }
    #btnLadoEsquerdo, #btnLadoDireito{
        display: block;
    }
    #item_2, #item_3,#item_4,#item_5,#item_6{
        display: none;
    }

    /*CONTATO*/

    #title-contato{
        font-size: 25px;
    }
}

@media only screen and (max-width:400px){
    /*HEADER*/
    #header {
        padding: 10px;
    }

    .menu {
        width: 100%;
    }

    #logo {
        width: 100px;
    }


    /*SOBRE*/
    #sobre-h1 {
        font-size: 35px;
    }

    /*FOOTER*/
    h5 {
        text-align: center;
    }

}